<div id="box-mobile-menu" class="box-mobile-menu full-height full-width">
  <div class="box-inner">
    <span class="close-menu"><span class="icon pe-7s-close"></span></span>
  </div>
</div>
<div id="header-ontop" class="is-sticky"></div>
<!-- Header -->
<header id="header" class="header style1">
  <div class="top-header">
    <div class="container">
      <div class="inner">
        <div class="main-menu-wapper">
          <div class="row">
            <div class="col-sm-8">
              {% include 'menu_import' %}
            </div>
            <div class="col-sm-4">
              <span class="mobile-navigation"><i class="fa fa-bars"></i></span>
              <div class="box-control">
                {% assign search_style = "show-input" %}
                {% include 'search-bar' %}
                {% include"settings-box" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% assign cattegories ="menu" %}
  {% include 'cattegories' %}
</header>
<!-- ./Header -->
