
<div id="rev_slider_145_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="revolution-home-page-fashion1" style="margin:0px auto;background-color:#eee;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.1.6 auto mode -->
	<div id="rev_slider_145_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.1.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-434" data-transition="parallaxtoright,parallaxtoleft,flyin" data-slotamount="7,7,7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default" data-easeout="default,default,default" data-masterspeed="600,600,600"  data-thumb="https://slider.flexible-theme.com/media/8a64f-banner11.jpg"  data-rotate="0,0,0"  data-saveperformance="off"  data-title="Slide-1" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://cdn.shopify.com/s/files/1/1124/4246/files/banner11.jpg?15044802435392013881"  alt=""  width="1920" height="1080" data-bgposition="center center" data-kenburns="on" data-duration="6000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption s3-large   tp-resizeme" 
			 id="slide-434-layer-1" 
			 data-x="299" 
			 data-y="126" 
						data-width="['']"
			data-height="['']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:3;sY:3;skX:0;skY:0;opacity:0;s:1000;e:easeInOutExpo;" 
			 data-transform_out="auto:auto;s:300;" 
			data-start="1500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; min-width: px; max-width: px; max-width: px; max-width: px; white-space: nowrap;border-color:rgba(255, 214, 88, 1.00);">Summer 
		</div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption s3-large   tp-resizeme" 
			 id="slide-434-layer-2" 
			 data-x="303" 
			 data-y="217" 
						data-width="['162']"
			data-height="['107']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:2;sY:1;skX:0;skY:0;opacity:0;s:1000;e:easeInOutExpo;" 
			 data-transform_out="auto:auto;s:300;" 
			data-start="2000" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 6; min-width: 162px; max-width: 162px; max-width: 107px; max-width: 107px; white-space: nowrap;border-color:rgba(255, 214, 88, 1.00);">sale 
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption small_text   tp-resizeme" 
			 id="slide-434-layer-3" 
			 data-x="296" 
			 data-y="344" 
						data-width="['744']"
			data-height="['91']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:2;sY:1;skX:0;skY:0;opacity:0;s:1000;e:easeInOutExpo;" 
			 data-transform_out="auto:auto;s:300;" 
			data-start="2500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 7; min-width: 744px; max-width: 744px; max-width: 91px; max-width: 91px; white-space: normal; font-size: 25px; line-height: 40px; font-weight: 500;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.   
		</div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-434-layer-5" 
			 data-x="882" 
			 data-y="197" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
			data-transform_idle="o:1;rZ:inherit;"
 
			 data-transform_in="x:200px;skX:-85px;opacity:0;s:1000;e:easeInOutExpo;" 
			 data-transform_out="auto:auto;s:300;" 
			data-start="3500" 
			data-responsive_offset="on" 

			
			style="z-index: 8;"><img src="https://slider.flexible-theme.com/media/revolution-home-page-fashion1/slider-text-12.png" alt="" data-ww="auto" data-hh="auto" data-no-retina> 
		</div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption rev-btn rev-hiddenicon " 
			 id="slide-434-layer-21" 
			 data-x="292" 
			 data-y="499" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(237, 71, 72, 1.00);bc:rgba(237, 71, 72, 1.00);"
 
			 data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
			 data-transform_out="opacity:0;s:300;s:300;" 
			data-start="3500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:Arial, Helvetica, sans-serif;background-color:rgba(0, 0, 0, 0.50);padding:10px 30px 10px 30px;border-color:rgba(0, 0, 0, 0);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP THE COLLECTION <i class="fa-icon-chevron-right"></i> 
		</div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-435" data-transition="parallaxtoright,parallaxtoleft,flyin" data-slotamount="7,7,7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default,default,default" data-easeout="default,default,default" data-masterspeed="600,600,600"  data-thumb="https://slider.flexible-theme.com/media/ae5d7-banner121.jpg"  data-rotate="0,0,0"  data-saveperformance="off"  data-title="Slide-2" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://cdn.shopify.com/s/files/1/1124/4246/files/banner121.jpg?6068613564943835892"  alt=""  width="1920" height="1080" data-bgposition="center center" data-kenburns="on" data-duration="6000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption s4-large   tp-resizeme" 
			 id="slide-435-layer-1" 
			 data-x="302" 
			 data-y="226" 
						data-width="['']"
			data-height="['']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:1000;e:easeInOutExpo;" 
			 data-transform_out="auto:auto;s:300;" 
			data-start="1500" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; min-width: px; max-width: px; max-width: px; max-width: px; white-space: nowrap;border-color:rgba(255, 255, 255, 1.00);">best clothing 
		</div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-435-layer-2" 
			 data-x="298" 
			 data-y="307" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
			data-transform_idle="o:1;rZ:inherit;"
 
			 data-transform_in="y:bottom;s:1000;e:easeInOutExpo;" 
			 data-transform_out="auto:auto;s:300;" 
			data-start="2500" 
			data-responsive_offset="on" 

			
			style="z-index: 6;"><img src="https://slider.flexible-theme.com/media/revolution-home-page-fashion1/slider-text-13.png" alt="" data-ww="auto" data-hh="auto" data-no-retina> 
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption rev-btn rev-hiddenicon " 
			 id="slide-435-layer-8" 
			 data-x="849" 
			 data-y="529" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
				data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:0;e:Linear.easeNone;"
				data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(237, 71, 72, 1.00);"
 
			 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
			 data-transform_out="opacity:0;s:300;s:300;" 
			 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
			data-start="3000" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 
			data-responsive="off"
			
			style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 14px; font-weight: 500; color: rgba(255, 255, 255, 1.00);font-family:Arial, Helvetica, sans-serif;background-color:rgba(0, 0, 0, 0.50);padding:10px 30px 10px 30px;border-color:rgba(0, 0, 0, 0);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP THE COLLECTION <i class="fa-icon-chevron-right"></i> 
		</div>
	</li>
</ul>
<div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>	</div>
</div><!-- END REVOLUTION SLIDER -->		<script type="text/javascript">
						var tpj=jQuery;
			tpj.noConflict();
			var revapi145;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_145_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_145_1");
				}else{
					revapi145 = tpj("#rev_slider_145_1").show().revolution({
						sliderType:"standard",
jsFileLocation:"//slider.flexible-theme.com/revslider/public/assets/js/",
						sliderLayout:"auto",
						dottedOverlay:"none",
						delay:6000,
						navigation: {
							keyboardNavigation:"off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation:"off",
							onHoverStop:"off",
							touch:{
								touchenabled:"on",
								swipe_threshold: 0.7,
								swipe_min_touches: 1,
								swipe_direction: "horizontal",
								drag_block_vertical: false
							}
							,
							arrows: {
								style:"zeus",
								enable:true,
								hide_onmobile:false,
								hide_onleave:false,
								tmp:'<div class="tp-title-wrap">  	<div class="tp-arr-imgholder"></div> </div>',
								left: {
									h_align:"left",
									v_align:"center",
									h_offset:20,
									v_offset:0
								},
								right: {
									h_align:"right",
									v_align:"center",
									h_offset:20,
									v_offset:0
								}
							}
							,
							bullets: {
								enable:true,
								hide_onmobile:false,
								style:"hesperiden",
								hide_onleave:false,
								direction:"horizontal",
								h_align:"center",
								v_align:"bottom",
								h_offset:0,
								v_offset:20,
								space:5,
								tmp:''
							}
						},
						visibilityLevels:[1240,1024,778,480],
						gridwidth:1920,
						gridheight:700,
						lazyType:"none",
						shadow:0,
						spinner:"spinner0",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});
				}
			});	/*ready*/
		</script>
		
