
<div id="rev_slider_196_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="boutique-opt1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.1.6 auto mode -->
	<div id="rev_slider_196_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-548" data-transition="slotzoom-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://slider.flexible-theme.com/media/boutique-opt1/bg118.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-548-layer-2" 
			 data-x="56" 
			 data-y="210" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0;rY:180deg;rZ:0;sX:0.3;sY:0.3;skX:0;skY:0;opacity:0;s:1100;e:Power2.easeOut;" 
			 data-transform_out="x:left;s:600;s:600;" 
			data-start="1000" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			
			style="z-index: 5; white-space: nowrap; font-size: 48px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;padding:50px;letter-spacing:0px;">COLLECTION 
		</div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-548-layer-1" 
			 data-x="157" 
			 data-y="162" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
			 data-transform_out="x:left;s:600;s:600;" 
			 data-mask_in="x:0px;y:0px;" 
			data-start="1670" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="4940" 

			style="z-index: 6; white-space: nowrap; font-size: 48px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;padding:50px;letter-spacing:0px;">MEN 
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-548-layer-3" 
			 data-x="107" 
			 data-y="258" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
			 data-transform_out="x:left;s:600;e:Back.easeInOut;s:600;e:Back.easeInOut;" 
			 data-mask_in="x:0px;y:0px;" 
			data-start="2010" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="4560" 

			style="z-index: 7; white-space: nowrap; font-size: 48px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;padding:50px;letter-spacing:0px;">PREVIEW 
		</div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-548-layer-4" 
			 data-x="108" 
			 data-y="386" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:3;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeInOut;" 
			 data-transform_out="y:[100%];rZ:0deg;sX:0.7;sY:0.7;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
			 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			 data-mask_out="x:0;y:0;s:inherit;e:inherit;" 
			data-start="1760" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="4030" 

			style="z-index: 8; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0px;">Don’t miss the new season 2016 lookbook! 
		</div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-549" data-transition="boxslide" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://slider.flexible-theme.com/media/boutique-opt1/bg311.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-549-layer-1" 
			 data-x="103" 
			 data-y="253" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:top;s:900;e:Power2.easeOut;" 
			 data-transform_out="y:bottom;s:800;s:800;" 
			data-start="1400" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="4860" 

			style="z-index: 5; white-space: nowrap; font-size: 48px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;padding:50px;letter-spacing:0px;">MAN IN BLAZER 
		</div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-549-layer-4" 
			 data-x="221" 
			 data-y="365" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:3;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeInOut;" 
			 data-transform_out="y:bottom;s:800;e:Power3.easeInOut;s:800;e:Power3.easeInOut;" 
			 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			data-start="1000" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="4480" 

			style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0px;">Get a look with our new lookbook! 
		</div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-550" data-transition="fadetorightfadefromleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://slider.flexible-theme.com/media/boutique-opt1/bg211.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-550-layer-5" 
			 data-x="108" 
			 data-y="108" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;s:1000;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:700;s:700;" 
			data-start="490" 
			data-responsive_offset="on" 

			 data-end="4870" 

			style="z-index: 5;"><img src="https://slider.flexible-theme.com/media/boutique-opt1/border1.png" alt="" data-ww="324px" data-hh="436px" data-no-retina> 
		</div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-550-layer-2" 
			 data-x="93" 
			 data-y="373" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:top;s:1100;e:Power2.easeOut;" 
			 data-transform_out="y:50px;opacity:0;s:600;s:600;" 
			data-start="900" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="4530" 

			style="z-index: 6; white-space: nowrap; font-size: 38px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;padding:50px;letter-spacing:0px;">EVER 
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-550-layer-3" 
			 data-x="92" 
			 data-y="330" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:top;s:1000;e:Power2.easeOut;" 
			 data-transform_out="y:50px;opacity:0;s:600;s:600;" 
			data-start="1200" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="4670" 

			style="z-index: 7; white-space: nowrap; font-size: 38px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;padding:50px;letter-spacing:0px;">PROMOTION 
		</div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-550-layer-1" 
			 data-x="93" 
			 data-y="288" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:top;s:1100;e:Power2.easeInOut;" 
			 data-transform_out="y:50px;opacity:0;s:600;s:600;" 
			data-start="1280" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="4830" 

			style="z-index: 8; white-space: nowrap; font-size: 38px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;padding:50px;letter-spacing:0px;">BEST 
		</div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-550-layer-4" 
			 data-x="142" 
			 data-y="158" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:3;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeInOut;" 
			 data-transform_out="y:[100%];rZ:0deg;sX:0.7;sY:0.7;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
			 data-mask_in="x:0px;y:[100%];" 
			 data-mask_out="x:0;y:0;" 
			data-start="1420" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="4850" 

			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:0px;">SAVE 50% OFF ON YOUR FIRST <br>ONLINE PURCHASE 
		</div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER -->		<script type="text/javascript">
						var tpj=jQuery;
			
			var revapi196;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_196_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_196_1");
				}else{
					revapi196 = tpj("#rev_slider_196_1").show().revolution({
						sliderType:"standard",
jsFileLocation:"//slider.flexible-theme.com/revslider/public/assets/js/",
						sliderLayout:"auto",
						dottedOverlay:"none",
						delay:5000,
						navigation: {
							onHoverStop:"off",
						},
						visibilityLevels:[1240,1024,778,480],
						gridwidth:1170,
						gridheight:648,
						lazyType:"none",
						shadow:0,
						spinner:"spinner0",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"on",
							disableFocusListener:true,
						}
					});
				}
			});	/*ready*/
		</script>
		
