
<div id="rev_slider_230_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="Boutique-opt8" style="background-color:transparent;padding:0px;">
<!-- START REVOLUTION SLIDER 5.1.6 fullscreen mode -->
	<div id="rev_slider_230_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-631" data-transition="fadetorightfadefromleft" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="//cdn.shopify.com/s/files/1/1227/4348/files/Slider-Home-8-3.jpg?15593596437429649345"  alt=""  width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-631-layer-4" 
			 data-x="57" 
			 data-y="474" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:top;s:1200;e:Back.easeInOut;" 
			 data-transform_out="y:bottom;s:600;e:Power2.easeInOut;s:600;e:Power2.easeInOut;" 
			data-start="740" 
			data-responsive_offset="on" 

			 data-end="5730" 

			style="z-index: 5;"><img src="https://slider.flexible-theme.com/media/Boutique-opt8/double.png" alt="" data-ww="734px" data-hh="36px" data-no-retina> 
		</div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-631-layer-2" 
			 data-x="231" 
			 data-y="408" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:top;s:1200;e:Back.easeInOut;" 
			 data-transform_out="y:bottom;s:600;e:Power2.easeInOut;s:600;e:Power2.easeInOut;" 
			data-start="490" 
			data-responsive_offset="on" 

			 data-end="5930" 

			style="z-index: 6;"><img src="https://slider.flexible-theme.com/media/Boutique-opt8/limit.png" alt="" data-ww="390px" data-hh="50px" data-no-retina> 
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-631-layer-5" 
			 data-x="343" 
			 data-y="696" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:3;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:600;s:600;" 
			 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			data-start="1490" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5090" 

			style="z-index: 7; white-space: nowrap; font-size: 16px; line-height: 20px; font-weight: 100; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:0px;">SHOP NOW! 
		</div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-631-layer-7" 
			 data-x="343" 
			 data-y="712" 
						data-width="['100']"
			data-height="['1']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:600;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:600;s:600;" 
			data-start="2930" 
			data-responsive_offset="on" 

			 data-end="4670" 

			style="z-index: 8;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(255, 255, 255, 1.00);"> 
		</div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-632" data-transition="papercut" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="//cdn.shopify.com/s/files/1/1227/4348/files/Slider-Home-8-2.jpg?15593596437429649345"  alt=""  width="1920" height="1080" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-632-layer-2" 
			 data-x="231" 
			 data-y="408" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:right;s:1000;e:Power2.easeInOut;" 
			 data-transform_out="y:bottom;s:600;s:600;" 
			data-start="790" 
			data-responsive_offset="on" 

			 data-end="5930" 

			style="z-index: 5;"><img src="https://slider.flexible-theme.com/media/Boutique-opt8/limit.png" alt="" data-ww="390px" data-hh="50px" data-no-retina> 
		</div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-632-layer-4" 
			 data-x="57" 
			 data-y="474" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:left;s:1000;e:Power2.easeInOut;" 
			 data-transform_out="y:bottom;s:600;s:600;" 
			data-start="970" 
			data-responsive_offset="on" 

			 data-end="5800" 

			style="z-index: 6;"><img src="https://slider.flexible-theme.com/media/Boutique-opt8/micro.png" alt="" data-ww="734px" data-hh="36px" data-no-retina> 
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-632-layer-5" 
			 data-x="344" 
			 data-y="695" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:3;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:600;s:600;" 
			 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			data-start="1320" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5060" 

			style="z-index: 7; white-space: nowrap; font-size: 16px; line-height: 20px; font-weight: 100; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:0px;">SHOP NOW! 
		</div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-632-layer-7" 
			 data-x="343" 
			 data-y="712" 
						data-width="['100']"
			data-height="['1']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:600;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:600;s:600;" 
			data-start="2640" 
			data-responsive_offset="on" 

			 data-end="4760" 

			style="z-index: 8;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(255, 255, 255, 1.00);"> 
		</div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-633" data-transition="boxslide" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://slider.flexible-theme.com/media/Boutique-opt8/bg32.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-633-layer-8" 
			 data-x="89" 
			 data-y="398" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:200px;skX:-85px;opacity:0;s:900;e:Power2.easeInOut;" 
			 data-transform_out="y:bottom;s:600;s:600;" 
			data-start="820" 
			data-responsive_offset="on" 

			 data-end="5920" 

			style="z-index: 5;"><img src="https://slider.flexible-theme.com/media/Boutique-opt8/the-text.png" alt="" data-ww="478px" data-hh="65px" data-no-retina> 
		</div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-633-layer-9" 
			 data-x="189" 
			 data-y="492" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:bottom;s:1300;e:Power2.easeInOut;" 
			 data-transform_out="y:bottom;s:600;s:600;" 
			data-start="940" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5780" 

			style="z-index: 6; white-space: nowrap; font-size: 18px; line-height: 20px; font-weight: 200; color: rgba(255, 255, 255, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0px;">Spring/Summer Outer wear looknook 
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-633-layer-13" 
			 data-x="281" 
			 data-y="299" 
						data-width="['none','none','none','none']"
			data-height="['none','none','none','none']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:1300;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:500;s:500;" 
			data-start="1090" 
			data-responsive_offset="on" 

			 data-end="5390" 

			style="z-index: 7;"><img src="https://slider.flexible-theme.com/media/Boutique-opt8/logo.png" alt="" data-ww="92px" data-hh="68px" data-no-retina> 
		</div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-633-layer-14" 
			 data-x="241" 
			 data-y="335" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:-50px;opacity:0;s:900;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:500;s:500;" 
			data-start="1610" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5460" 

			style="z-index: 8; white-space: nowrap; font-size: 14px; line-height: 15px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;">EST 
		</div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-633-layer-15" 
			 data-x="387" 
			 data-y="334" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:50px;opacity:0;s:900;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:500;s:500;" 
			data-start="1610" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5430" 

			style="z-index: 9; white-space: nowrap; font-size: 14px; line-height: 15px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;">1988 
		</div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-633-layer-5" 
			 data-x="258" 
			 data-y="694" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:3;sY:1;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:600;s:600;" 
			 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" 
			data-start="1670" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5120" 

			style="z-index: 10; white-space: nowrap; font-size: 16px; line-height: 20px; font-weight: 100; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:0px;">SHOP THE LOOK! 
		</div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-633-layer-12" 
			 data-x="259" 
			 data-y="711" 
						data-width="['140']"
			data-height="['1']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:600;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:600;s:600;" 
			data-start="2660" 
			data-responsive_offset="on" 

			 data-end="4720" 

			style="z-index: 11;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(255, 255, 255, 1.00);"> 
		</div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER -->		<script type="text/javascript">
						var tpj=jQuery;
			
			var revapi230;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_230_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_230_1");
				}else{
					revapi230 = tpj("#rev_slider_230_1").show().revolution({
						sliderType:"standard",
jsFileLocation:"//slider.flexible-theme.com/revslider/public/assets/js/",
						sliderLayout:"fullscreen",
						dottedOverlay:"none",
						delay:6000,
						navigation: {
							onHoverStop:"off",
						},
						visibilityLevels:[1240,1024,778,480],
						gridwidth:1170,
						gridheight:1024,
						lazyType:"none",
						shadow:0,
						spinner:"spinner0",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						fullScreenAutoWidth:"off",
						fullScreenAlignForce:"off",
						fullScreenOffsetContainer: "",
						fullScreenOffset: "",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"on",
							disableFocusListener:true,
						}
					});
				}
			});	/*ready*/
		</script>
		
