
<div id="rev_slider_233_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="Boutique-opt14" style="background-color:transparent;padding:0px;">
<!-- START REVOLUTION SLIDER 5.1.6 fullscreen mode -->
	<div id="rev_slider_233_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.1.6">
<ul>	<!-- SLIDE  -->
    <li data-index="rs-638" data-transition="3dcurtain-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://slider.flexible-theme.com/media/Boutique-opt14/bg15.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-638-layer-2" 
			 data-x="398" 
			 data-y="448" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:[175%];y:[-400%];s:2000;e:Power4.easeInOut;" 
			 data-transform_out="x:[-175%];y:[175%];s:1000;s:1000;" 
			data-start="510" 
			data-splitin="chars" 
			data-splitout="chars" 
			data-responsive_offset="on" 

			data-elementdelay="0.05" 
			data-endelementdelay="0.1" 
			 data-end="5860" 

			style="z-index: 5; white-space: nowrap; font-size: 48px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:0px;">COLLECTION FOR 
		</div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-638-layer-3" 
			 data-x="400" 
			 data-y="497" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:[175%];y:[400%];s:2000;e:Power4.easeInOut;" 
			 data-transform_out="x:[-175%];y:[-175%];s:1000;s:1000;" 
			data-start="500" 
			data-splitin="chars" 
			data-splitout="chars" 
			data-responsive_offset="on" 

			data-elementdelay="0.05" 
			data-endelementdelay="0.1" 
			 data-end="5870" 

			style="z-index: 6; white-space: nowrap; font-size: 48px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:0px;">WINTER 2015 
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-638-layer-1" 
			 data-x="397" 
			 data-y="355" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:top;s:1200;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:600;s:600;" 
			data-start="2070" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5660" 

			style="z-index: 7; white-space: nowrap; font-size: 30px; font-weight: 700; color: rgba(201, 153, 71, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0px;">Sale up to 10% off 
		</div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-638-layer-4" 
			 data-x="403" 
			 data-y="582" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:bottom;s:1200;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:600;s:600;" 
			data-start="2080" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5670" 

			style="z-index: 8; white-space: nowrap; font-size: 10px; line-height: 30px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;background-color:rgba(201, 153, 71, 1.00);padding:0px 10px;">LEARN MORE 
		</div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-638-layer-5" 
			 data-x="400" 
			 data-y="411" 
						data-width="['47']"
			data-height="['2']"
			data-transform_idle="o:1;"
 
			 data-transform_in="opacity:0;s:700;e:Power2.easeInOut;" 
			 data-transform_out="opacity:0;s:500;s:500;" 
			data-start="2820" 
			data-responsive_offset="on" 

			 data-end="5040" 

			style="z-index: 9;background-color:rgba(201, 153, 71, 1.00);border-color:rgba(201, 153, 71, 1.00);"> 
		</div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-639" data-transition="fadetoleftfadefromright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://slider.flexible-theme.com/media/Boutique-opt14/bg26.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-639-layer-3" 
			 data-x="252" 
			 data-y="337" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:4;sY:2;skX:0;skY:0;opacity:0;s:1000;e:Power2.easeOut;" 
			 data-transform_out="rY:180deg;opacity:0;s:600;s:600;" 
			 data-mask_in="x:0px;y:0px;" 
			data-start="760" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5950" 

			style="z-index: 5; white-space: nowrap; font-size: 140px; line-height: 140px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;">R 
		</div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-639-layer-1" 
			 data-x="351" 
			 data-y="347" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="rX:0deg;rY:130deg;opacity:0;s:1500;e:Power4.easeInOut;" 
			 data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
			 data-mask_out="x:inherit;y:inherit;" 
			data-start="840" 
			data-splitin="chars" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-elementdelay="0.05" 
			 data-end="5400" 

			style="z-index: 6; white-space: nowrap; font-size: 76px; line-height: 80px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;">EAL MEN 
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-639-layer-2" 
			 data-x="356" 
			 data-y="434" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;" 
			 data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
			 data-mask_in="x:0px;y:0px;" 
			 data-mask_out="x:inherit;y:inherit;" 
			data-start="970" 
			data-splitin="chars" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-elementdelay="0.05" 
			 data-end="5290" 

			style="z-index: 7; white-space: nowrap; font-size: 24px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:4px;">COLLECTIONS WINTER 
		</div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-639-layer-4" 
			 data-x="597" 
			 data-y="481" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1000;e:Power3.easeInOut;" 
			 data-transform_out="x:[-100%];s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
			 data-mask_in="x:0px;y:0px;" 
			 data-mask_out="x:inherit;y:inherit;" 
			data-start="2290" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5070" 

			style="z-index: 8; white-space: nowrap; font-size: 10px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;background-color:rgba(201, 153, 71, 1.00);padding:0px 20px;">SHOP NOW 
		</div>
	</li>
	<!-- SLIDE  -->
    <li data-index="rs-640" data-transition="slotzoom-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://slider.flexible-theme.com/media/Boutique-opt14/bg36.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-640-layer-2" 
			 data-x="309" 
			 data-y="449" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="y:-50px;opacity:0;s:1500;e:Back.easeInOut;" 
			 data-transform_out="y:bottom;s:600;e:Power2.easeOut;s:600;e:Power2.easeOut;" 
			data-start="500" 
			data-splitin="chars" 
			data-splitout="none" 
			data-responsive_offset="on" 

			data-elementdelay="0.1" 
			 data-end="5720" 

			style="z-index: 5; white-space: nowrap; font-size: 64px; line-height: 70px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;letter-spacing:0px;">SUMMER FASHIONS 
		</div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-640-layer-1" 
			 data-x="312" 
			 data-y="384" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:right;s:1500;e:Power2.easeInOut;" 
			 data-transform_out="y:bottom;s:600;s:600;" 
			data-start="1960" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5850" 

			style="z-index: 6; white-space: nowrap; font-size: 30px; font-weight: 700; color: rgba(201, 153, 71, 1.00);font-family:Playfair Display;font-style:italic;letter-spacing:0px;">Sale up to 50% off 
		</div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-640-layer-4" 
			 data-x="318" 
			 data-y="539" 
						data-width="['auto']"
			data-height="['auto']"
			data-transform_idle="o:1;"
 
			 data-transform_in="x:left;s:1000;e:Power2.easeInOut;" 
			 data-transform_out="y:bottom;s:600;s:600;" 
			data-start="2460" 
			data-splitin="none" 
			data-splitout="none" 
			data-responsive_offset="on" 

			 data-end="5460" 

			style="z-index: 7; white-space: nowrap; font-size: 10px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Montserrat;background-color:rgba(201, 153, 71, 1.00);padding:0px 10px;">SHOP NOW 
		</div>
	</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER -->		<script type="text/javascript">
						var tpj=jQuery;
			
			var revapi233;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_233_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_233_1");
				}else{
					revapi233 = tpj("#rev_slider_233_1").show().revolution({
						sliderType:"standard",
jsFileLocation:"//slider.flexible-theme.com/revslider/public/assets/js/",
						sliderLayout:"fullscreen",
						dottedOverlay:"none",
						delay:6000,
						navigation: {
							onHoverStop:"off",
						},
						visibilityLevels:[1240,1024,778,480],
						gridwidth:1920,
						gridheight:856,
						lazyType:"none",
						shadow:0,
						spinner:"spinner0",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						fullScreenAutoWidth:"off",
						fullScreenAlignForce:"off",
						fullScreenOffsetContainer: "",
						fullScreenOffset: "",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"on",
							disableFocusListener:true,
						}
					});
				}
			});	/*ready*/
		</script>
		
