<div class="banner-slide owl-carousel nav-center-center nav-style4" data-nav="true" data-dots="false" data-loop="true" data-autoplay="true" data-margin="0" data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":4}}'>
{% include 'render-layout' register_section: 'sc_banner_slide'  %}
</div>