<div class="margin-top-50">
  <div class="tab-product">
    <ul class="box-tabs nav-tab tab-owl-fade-effect">
      <li class="active"><a data-animated='fadeInUp' data-toggle="tab" href="#tab-1">Best Sellers</a></li>
      <li><a data-animated='slideInLeft' data-toggle="tab" href="#tab-2">New Arrivals</a></li>
      <li><a data-animated='slideInRight' data-toggle="tab" href="#tab-1">Most Reviews</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-container">
        <div id="tab-1" class="tab-panel active">
          <ul class="tab-list owl-carousel nav-style7 nav-center-center" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="30" data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":4}}'>
            <li class="product-item">
              <div class="product-inner">
                <div class="product-thumb has-back-image">
                  <a href="#"><img src="images/products/1.jpg" alt=""></a>
                  <a class="back-image" href="#"><img src="images/products/2.jpg" alt=""></a>
                  <div class="gorup-button">
                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-info">
                  <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                  <span class="price">
                    <ins>£85.00</ins>
                    <del>£95.00</del>
                  </span>
                  <a href="#" class="button">ADD TO CART</a>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-inner">
                <div class="product-thumb has-back-image">
                  <a href="#"><img src="images/products/2.jpg" alt=""></a>
                  <a class="back-image" href="#"><img src="images/products/3.jpg" alt=""></a>
                  <div class="gorup-button">
                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-info">
                  <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                  <span class="price">
                    <ins>£85.00</ins>
                    <del>£95.00</del>
                  </span>
                  <a href="#" class="button">ADD TO CART</a>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-inner">
                <div class="product-thumb has-back-image">
                  <a href="#"><img src="images/products/3.jpg" alt=""></a>
                  <a class="back-image" href="#"><img src="images/products/4.jpg" alt=""></a>
                  <div class="gorup-button">
                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-info">
                  <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                  <span class="price">
                    <ins>£85.00</ins>
                    <del>£95.00</del>
                  </span>
                  <a href="#" class="button">ADD TO CART</a>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-inner">
                <div class="product-thumb has-back-image">
                  <a href="#"><img src="images/products/4.jpg" alt=""></a>
                  <a class="back-image" href="#"><img src="images/products/5.jpg" alt=""></a>
                  <div class="gorup-button">
                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-info">
                  <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                  <span class="price">
                    <ins>£85.00</ins>
                    <del>£95.00</del>
                  </span>
                  <a href="#" class="button">ADD TO CART</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div id="tab-2" class="tab-panel">
          <ul class="tab-list owl-carousel nav-style7 nav-center-center" data-nav="true" data-autoplay="false" data-dots="false" data-loop="true" data-margin="30" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
            <li class="product-item">
              <div class="product-inner">
                <div class="product-thumb has-back-image">
                  <a href="#"><img src="images/products/5.jpg" alt=""></a>
                  <a class="back-image" href="#"><img src="images/products/6.jpg" alt=""></a>
                  <div class="gorup-button">
                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-info">
                  <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                  <span class="price">
                    <ins>£85.00</ins>
                    <del>£95.00</del>
                  </span>
                  <a href="#" class="button">ADD TO CART</a>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-inner">
                <div class="product-thumb has-back-image">
                  <a href="#"><img src="images/products/6.jpg" alt=""></a>
                  <a class="back-image" href="#"><img src="images/products/7.jpg" alt=""></a>
                  <div class="gorup-button">
                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-info">
                  <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                  <span class="price">
                    <ins>£85.00</ins>
                    <del>£95.00</del>
                  </span>
                  <a href="#" class="button">ADD TO CART</a>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-inner">
                <div class="product-thumb has-back-image">
                  <a href="#"><img src="images/products/7.jpg" alt=""></a>
                  <a class="back-image" href="#"><img src="images/products/8.jpg" alt=""></a>
                  <div class="gorup-button">
                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-info">
                  <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                  <span class="price">
                    <ins>£85.00</ins>
                    <del>£95.00</del>
                  </span>
                  <a href="#" class="button">ADD TO CART</a>
                </div>
              </div>
            </li>
            <li class="product-item">
              <div class="product-inner">
                <div class="product-thumb has-back-image">
                  <a href="#"><img src="images/products/8.jpg" alt=""></a>
                  <a class="back-image" href="#"><img src="images/products/9.jpg" alt=""></a>
                  <div class="gorup-button">
                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                  </div>
                </div>
                <div class="product-info">
                  <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                  <span class="price">
                    <ins>£85.00</ins>
                    <del>£95.00</del>
                  </span>
                  <a href="#" class="button">ADD TO CART</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>