    <div class="container">
        <div class="text-center page-404">
            {% if settings.heading404 != blank %}
            <h1 class="heading">{{ settings.heading404}}</h1>
          {% endif %}
          
           {% if settings.title404 != blank %}
            <h2 class="title">{{settings.title404}}</h2>
          {% endif %}
            <p>{{ settings.information_desc_404}}</p>
            <a class="button" href="/">Go to Home</a>
        </div>
    </div>
    <div class="margin-top-60 margin-bottom-30">
       <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="element-icon style2">
                        <div class="icon"><i class="flaticon flaticon-origami28"></i></div>
                        <div class="content">
                            <h4 class="title">FREE SHIPPING WORLD WIDE</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="element-icon style2">
                        <div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
                        <div class="content">
                            <h4 class="title">MONEY BACK GUARANTEE</h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="element-icon style2">
                        <div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
                        <div class="content">
                            <h4 class="title">ONLINE SUPPORT 24/7</h4>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
