<!-- /templates/blog.liquid -->

{% paginate blog.articles by 6 %}
<div class="main-container wishlist list-blogs">
  <div class="container">
      <h3 class="page-title">{{ blog.title }}</h3>
      <div class="blog-grid butique-masonry">
          <div class="masonry-grid" data-layoutmode="masonry" data-cols="3">
            {% for article in blog.articles %}
                {% case article.template_suffix %}
                {% when 'video'%}
                {% include 'blog-video' %}
                {% when 'gallery' %}
                {% include 'blog-gallery' %}
                {% when 'audio' %}
                {% include 'blog-audio' %}
                {% when 'image' %}
                {% include 'blog-image' %}
                {% else %}
                {% include 'blog-simple' %}
                {% endcase %}
              {% endfor %}                
          </div>
      </div>
      {% if paginate.pages > 1 %}
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', 'Previous' | replace: 'Next &raquo;', 'Next' }}
        </div>
      {% endif %}
      <div class="margin-top-60 margin-bottom-30">    
          <div class="row">
              <div class="col-sm-12 col-md-4">
                  <div class="element-icon style2">
                      <div class="icon"><i class="flaticon flaticon-origami28"></i></div>
                      <div class="content">
                          <h4 class="title">FREE SHIPPING WORLD WIDE</h4>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div class="element-icon style2">
                      <div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
                      <div class="content">
                          <h4 class="title">MONEY BACK GUARANTEE</h4>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12 col-md-4">
                  <div class="element-icon style2">
                      <div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
                      <div class="content">
                          <h4 class="title">ONLINE SUPPORT 24/7</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>  
  </div>
</div>
{% endpaginate %}