<!-- /templates/blog.liquid -->

{% paginate blog.articles by 6 %}
<div class="main-container wishlist list-blogs">
  <div class="container">
      <h3 class="page-title">{{ blog.title }}</h3>
      <div class="blog-grid butique-masonry">
          <div class="masonry-grid" data-layoutmode="masonry" data-cols="3">
            {% for article in blog.articles %}
                {% case article.template_suffix %}
                {% when 'video'%}
                {% include 'blog-video' %}
                {% when 'gallery' %}
                {% include 'blog-gallery' %}
                {% when 'audio' %}
                {% include 'blog-audio' %}
                {% when 'image' %}
                {% include 'blog-image' %}
                {% else %}
                {% include 'blog-simple' %}
                {% endcase %}
              {% endfor %}                
          </div>
      </div>
      {% if paginate.pages > 1 %}
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', 'Previous' | replace: 'Next &raquo;', 'Next' }}
        </div>
      {% endif %}

      {% include 'shortcode-shipping-icon' %} 
  </div>
</div>
{% endpaginate %}